.title{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.header{
    display: flex;
}

.header_legend{
    text-align: left;
    margin: 1em;
    height: 10px;
    width: 80px;
}

.header_box{
    display: flex;
    width: 8em;
    height: 2em;
    border-radius: 2px;
    text-align: center;
    margin-top: 0.8em;
}